body {
    margin: 0px;
    padding: 0px;
    border: none;
    font-family: Arial, sans-serif;
    overflow-x: hidden;
    font-size: 14px;
    width: 100%;
    background-color: #232123;
    color: antiquewhite;
  }
  .topnav {
    display: flex;
    justify-content: flex-start;
    background-color: #232123;
    width: 100vw;
  }
  .topnav a {
    padding: 14px 16px;
    text-align: center;
    color: antiquewhite;
    text-decoration: none;
  }
  .topnav a:hover{
    background-color: #111;
  }
  .active{
    background-color: rgba(8, 15, 34, 0.87);
  }
  .title{
    font-weight: bold;
    padding-bottom: 20px;
    text-align: center;
  }
  #main-title{
    font-size: 60px;
    margin-bottom: 20px;
    color: rgb(212, 172, 119);
  }
  .title h1 {
    color: rgb(222, 193, 155);
  }
  audio {
    width: 200px;
    height: 25px;
    padding-left: 650px;
}
  .history {
    padding-left: 10%;
    padding-right: 10%;
  }
  .history h1 {
    color: rgb(212, 172, 119);
  }
  .history h2 {
    color: rgb(222, 193, 155);
    margin-bottom: 30px;
  }
  .facts {
    padding-left: 10%;
    padding-right: 10%;
  }
  .facts h1 {
    color: rgb(212, 172, 119);
    margin-top: 40px;
  }
  .facts h2 {
    color: rgb(222, 193, 155);
    margin-bottom: 30px;
  }
  .facts ul {
    color: antiquewhite;
    font-size: 14px;
  }
  .facts ul h3 {
    color: rgb(251, 222, 185);
    font-size: 17px;
  }
  .answer {
    list-style: none;
  }
  .top-ten-list h1 {
    padding-left: 10%;
    color: rgb(212, 172, 119);
    margin-top: 40px;
  }
  .top-ten-list h2 {
    padding-left: 10%;
    color: rgb(222, 193, 155);
    margin-bottom: 40px;
  }
  .card-container {
    width: 93vw;
    margin-left: 3vw;
    margin-right: 3vw;
    display: flex;
    flex-wrap: wrap;
    justify-items: center;
    justify-content: space-between;
  }
  .card-container a {
    color: rgb(212, 172, 119);
  }
  .card {
    display: flex;
    flex-direction: column;
    width: 40vw;
    background-color: #333233;
    margin-bottom: 15px;
    padding-bottom: 20px;
    padding-right: 50px;
    border: 2px #2f2e2f;
    border-radius: 10px;
    box-shadow: 2px 2px #292829;
  }
  .card-title {
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: x-large;
  }
  .card-title a:hover {
    color:rgb(255, 145, 0);
  }
  .card-content-wrapper {
    display: flex;
    width: 100%;
    flex-direction: row;
    padding-left: 5%;
    padding-right: 5%;
  }
  .card-image img {
    height: 160px;
    width: 110px;
  }
  .card-image img:hover {
    filter: brightness(50%);
  }
  .card-content {
    text-align: left;
  }
  .card-content ul {
    list-style-type: none;
  }
  .card-content li p {
    font-weight: bold;
    font-size: large;
    color: rgb(222, 193, 155);
  }
  footer{
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
    color: antiquewhite;
  }
  @media only screen and (max-width: 600px) {
    .card {width: 80vw;
    }
    .card-container {width: 94vw;
    justify-content: center;}
    .card-content-wrapper {display: block;}
    .card-image {padding-left: 110px;}
    audio {padding-left: 100px;}
  }