body {
  margin: 0px;
  padding: 0px;
  border: none;
  font-family: Arial, sans-serif;
  /*overflow-x: hidden;*/
  font-size: 14px;
  width: 100vw;
  /*background-color: #232123;*/
}
.topnav {
  display: flex;
  justify-content: flex-start;
  background-color: #232123;
  width: 100vw;
}
.topnav a {
  padding: 14px 16px;
  text-align: center;
  color: antiquewhite;
  text-decoration: none;
}
.topnav a:hover{
  background-color: #111;
}
.active{
  background-color: rgba(8, 15, 34, 0.87);
}
.image-container {
  position: relative;
  display: inline-block;
  height: fit-content;
  width: 100vw;
}
.image-container img {
  display: block;
  width: 100vw;
  height: 40vh;
}
.image-container-overlay {
  position: absolute;
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  background-color: rgba(0, 0, 0, 0.614); 
  color: antiquewhite; 
  padding: 50px 40px; 
  font-size: 20px; 
  text-align: center;
}
.description {
  display: block;
  text-align: center;
  padding: 25px 0px;
  width: 100vw;
  background-color: #232123;
  color: antiquewhite;
}
#page-description {
  padding-top: 15px;
}
#explanations {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: #333233;
  color: antiquewhite;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100vw;
  text-align: center;
}
.box h1{
  /*font-size: 30px;*/
  font-weight: bold;
  text-align: center;
}
.explanation {
  font-size: 15px;
  padding-top: 15px;
  list-style-type: none;
  width: 30vw;
  text-align: center;
}
footer{
  display: flex;
  justify-content: space-between;
  width: 100vw;
}