* {
  margin: 0;
  padding: 0;
  border: none;
  font-family: Arial, sans-serif;
}
.topnav {
  display: inline-block;
  padding: 14px 16px;
  background-color: #000000dd;
  width: 100vw;
}
div a {
  text-align: center;
  color: antiquewhite;
  padding: 14px 16px;
  text-decoration: none;
}
div a:hover{
  background-color: #111;
}
.active{
  background-color: rgba(8, 15, 34, 0.87);
}
#banner {
  height: 40vh;
  width: 100vw;
}
.image-container {
  position: relative;
  display: inline-block;
}
.image-container img {
  display: block;
  width: 100%;
  height: auto;
}
.overlay-text {
  position: absolute;
  top: 30%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  background-color: rgba(0, 0, 0, 0.614); 
  color: antiquewhite; 
  padding: 50px 40px; 
  font-size: 20px; 
  text-align: center;
}
body {
  font-size: 14px;
}
.description {
  display: block;
  text-align: center;
  padding: 25px;
  width: 100vw;
  background-color: #000000dd;
  color: antiquewhite;
}
#page-description {
  padding-top: 15px;
}
#explanations {
  display: flex;
  justify-content: space-around;
  background-color: #000000cd;
  color: antiquewhite;
  padding-top: 20px;
  padding-bottom: 20px;
}
.title {
  font-size: 30px;
  font-weight: bold;
}
.explanation {
  font-size: 15px;
  text-align: center;
  padding-top: 15px;
}

